<%- include("partials/header") -%>

<div class="container">
     <section class="text-right text-secondary mr-2">
       <span class="mb-0"><%= today %></span>
       <br /> 
      <span class="mt-0"><%= time %></span> 
   </section>
<h1><%= title %></h1>
<h5 class="text-muted mb-4 ml-1">Rating: <%= rating %></h5>
<p class="ml-1"><%= content %></p>

</div>

<%- include("partials/footer") -%>